<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

</head>

<div class="container">

    <div class="imagen-ppal">
        <img src="american-ultra1.png">
    </div>
    
    <div class="container2">
        <h1 class="nombre-producto">AMERICAN ULTRA STRATOCASTER HSS</h1>

        <div class="descripcion">
            La serie American Ultra de guitarras y bajos es la más avanzada para músicos exigentes que exigen lo
            último en precisión, rendimiento y tono. La American Ultra Stratocaster HSS presenta un exclusivo perfil
            de mástil
            de "D moderna” con bordes de diapasón redondeados para horas de comodidad, y la forma del talón del
            mástil permite un fácil acceso al registro más alto. Un veloz diapasón de radio compuesto de 10 "a 14"
            con 22 trastes
            medium jumbo para solos precisos y sin esfuerzo, mientras que las pastillas Ultra Noiseless ™Hot Single
            y la Ultra Double Tap™ humbucker y las opciones avanzadas de cableado brindan infinitas posibilidades de
            sonido: sin zumbidos.
            Este versátil instrumento de última generación te inspirará a llevar tu interpretación a nuevas alturas.
            Otras características incluyen clavijeros de bloqueo sellados, herrajes cromados y cejilla de hueso.
            Incluye estuche rígido moldeado de primera calidad.
        </div>

        <div class="images">
            <div><img class="guitarra" src="american-ultra1.png"></div>
            <div><img class="guitarra" src="american-ultra2.png"></div>
            <div><img class="guitarra" src="american-ultra3.png"></div>
            <div><img class="guitarra" src="american-ultra4.png"></div>
            <div><img class="guitarra" src="american-ultra5.png"></div>
        </div>

        <div class="color">COLOR</div>
        <div class="colores-opciones">
            <div><img class="color-op" src="color-aged-natural.jpg"></div>
            <div><img class="color-op" src="color-arctic-pearl.jpg"></div>
            <div><img class="color-op" src="color-cobra-blue.jpg"></div>
            <div><img class="color-op" src="color-plasma-red-burst.jpg"></div>
            <div><img class="color-op" src="color-texas-tea.jpg"></div>
            <div><img class="color-op" src="color-ultraburst.jpg"></div>
        </div>

        <div class="precio">
            $ 710.999
        </div>

        <div class="carrito">
            AGREGAR AL CARRITO
        </div>

        <div class="cantidad">
            CANTIDAD
        </div>

        <div class="sumar">
            +1
        </div>
    </div>
</div>
</div>

<div class="detalles">
    <div class="caracteristicas">

        <h2>CARACTERÍSTICAS</h2>

        <div>
            <ul>
                <li>Cuerpo de aliso o fresno.</li>
                <li>Una pastilla de puente humbucking Ultra Double Tap ™; dos pastillas de bobina simple Ultra Noiseless
                    Hot
                    (centro y mástil).</li>
                <li>Perfil de mástil en forma de "D moderna".</li>
                <li>Diapasón de radio compuesto de 10 "-14"; 22 trastes medium jumbo.</li>
                <li>Incluye estuche rígido moldeado premium</li>
            </ul>
        </div>
    </div>


    <h2>ESPECIFICACIONES</h2>

    <div class="especificaciones">

        <div>
            <h4>MÁSTIL "D" MODERNA</h4>
            <div>
                Delgado pero más ancho, el perfil del mástil "Modern D" funciona para cualquier estilo de tocar. Los
                bordes
                redondeados del diapasón y un acabado suave y sedoso hacen que el mástil sea fácil de tocar.
            </div>
        </div>

        <div>
            <h4>RADIO COMPUESTO 10 "-14"</h4>
            <div>
                Diseñado para la velocidad y los bendings, el diapasón de radio compuesto de 10 "-14" se redondea cerca
                de
                la
                cejilla para facilitar la digitación, volviéndose cada vez más plano a medida que se acerca al registro
                superior
                para solos más fáciles de ejecutar.
            </div>
        </div>

        <div>
            <h4>CONTORNO DEL CUERPO</h4>
            <div>
                El talón del mástil presenta contornos rediseñados para un acceso incomparable a los registros
                superiores
                del
                diapasón, mientras que el contorno del cuerpo trasero está diseñado para mayor comodidad.
            </div>
        </div>

        <div>
            <h4>ELECTRÓNICA AVANZADA</h4>
            <div>
                El interruptor S-1 de la perilla de volumen selecciona entre el cableado en serie o en paralelo para un
                rango
                tonal adicional, mientras que el circuito de “treble bleed” mantiene los agudos en cualquier volumen.
            </div>
        </div>

    </div>
</div>

</body>

</html>